<% include doctype.ejs %>
<% include navigation.ejs %>
    <h1>Lydia</h1>
    <p>Lydia is my older sister and the oldest amongst my siblings. she attends Lakehead university as well</p>
<% include footer.ejs %>
