<nav>
    <ul>
        <li><a href="/">Joel<a><li>
        <li><a href="/lydia">Lydia<a><li>
        <li><a href="/ezekiel">Ezekiel<a><li>
        <li><a href="/francis">Francis<a><li>
        <li><a href="/cecilia">Cecilia<a><li>
        <li><a href="/stephanus">Stephanus<a><li>
    </ul>
</nav>
        