<% include doctype.ejs %>
<% include navigation.ejs %>
    <h1>Stephanus</h1>
    <p>Stephanus is the youngest amongst us, i have no idea what his birthday or school name is.</p>
<% include footer.ejs %>
